@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;600;800&display=swap');
body{
	margin:0;
	padding:3em 0;
	font-family: 'Mukta', sans-serif;
	font-size:1em;
	color:#333;
    line-height: 1.25;
}
* {
  box-sizing: border-box;
}
img{
	width:100%;
	height:auto;
}
a{
	color:#444;
	text-decoration:none;
	transition:all ease-out .3s;
}
h1, h2, h3, h4, ul, ol, p{
	margin:0;
	padding:0;
	font-weight:normal;
}
.greenTxt {
	color:#7CDED1;	
}
.webWrap, .contentWrap{
	position:relative;
	margin:auto;
}
.webWrap {
	width:85%;
}
.contentWrap{
	padding:1em;
}
.bannerBox {
    width: 100%;
    margin: .5em 0;
}
.blockTitle{
	font-weight:800;
	color:#7b7b7b;
    font-size: 2em;
}
.allBtn {
    position: absolute;
    right: 1em;
    top: 2em;
}
.allBtn:after{
	content:'\f105';
	font-family:FontAwesome;
	display:inline-block;
	vertical-align:middle;
	margin:0 0 2px 5px;
	transition:all ease-out .3s;
}
.allBtn:hover, .allBtn:focus,
.allBtn:hover:after, .allBtn:focus:after{
	color:#00e1d6;
}
.pd-item{
	position:relative;
	padding:.75em;
	transition:all ease-out .3s;
	background:#fff;
	border-radius:1em;
	box-shadow: 0 0 0 #ccc;
	overflow:hidden;
}
.pd-item:hover{
	box-shadow: 0 0 8px #ccc;
}
.pd-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
	background: #f9f9f9;
}
.pd-img img {
    height: 100%;
    width: auto;
}
.pd-img.img-H img{
    height: auto;
    width: 100%;
}
.pd-Box .p-name {
    display: block;
    margin: .75em 0;
    font-size: 1.15em;
    color: #747474;
    font-weight: 200;
	transition:all ease-out .2s;
}
.pd-detail:hover .p-name, .pd-detail:focus .p-name {
    color: #000;
}
.priceBox {
    list-style: none;
	font-weight:600;
}
.priceBox li {
    display: inline-block;
    vertical-align: top;
}
.priceBox .greenTxt {
	font-size:1.15em;
}
.priceBox .points {
    width: 100px;
    border-radius: 6px;
	padding-top:5px;
    float: right;
    font-size: .9em;
	line-height:1;
    text-align: center;
    color: #fff;
	overflow:hidden;
    background: #939393;
    background: -moz-linear-gradient(top, #939393 0%, #efefef 100%);
    background: -webkit-linear-gradient(top, #939393 0%,#efefef 100%);
    background: linear-gradient(to bottom, #939393 0%,#efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939393', endColorstr='#efefef',GradientType=0 );
}
.priceBox .o-price {
    color: #4c4c4c;
    font-weight: 200;
    text-decoration: line-through;
    font-size: .7em;
    display: block;
    line-height: 1;
}
.note {
	display: table;
    width: auto;
    background: #4c4c4c;
    padding: 2px 8px 2px 10px;
    font-size: .7em;
    font-weight: 200;
	position:relative;
}
.note:after {
    display: inline-block;
    content: ' ';
    border-bottom: 20px solid #4c4c4c;
    position: absolute;
    top: 0;
    right: -15px;
    border-radius: 0 20px 0 0;
    width: 15px;
}
.likeBtn {
    display: flex;
    position: absolute;
    background: #fff;
    color: #a5a5a5;
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    justify-content: center;
    align-items: center;
    right: 6px;
    top: 6px;
}
.likeBtn .fa {
    padding-top: 2px;
    font-size: .8em;
}
.likeBtn:hover, .likeBtn:focus {
    color: #81ded0;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.likeBtn.favorite-add{
    color: #f00;
}

@media screen and (max-width:1450px) { 
.priceBox li {
    display: block;
    vertical-align: top;
}
.priceBox .points {
	margin-top:.5em;
    float: initial;
}
}
@media screen and (max-width:1000px) { 
.allBtn {
    position: relative;
    top: unset;
    display: block;
    text-align: right;
}
}

.slider {
	width: 100%;
}
.slick-slide {
  margin: .5em;
}
.slick-prev:before,
.slick-next:before {
	color: black;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: auto;
    height: 50px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'FontAwesome';
    font-size: 50px;
    line-height: 1;

    opacity: .75;
    color:#999;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '\f104';
}
[dir='rtl'] .slick-prev:before
{
    content: '\f105';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '\f105';
}
[dir='rtl'] .slick-next:before
{
    content: '\f104';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'FontAwesome';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '\f111';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.suggestions {
    background: #f8f8f8;
    padding: 1em 1em 1em 2.5em;
    border-top: 2px solid #7CDED1;
    margin: .5em 0;
    font-weight: 200;
    color: #333;
    letter-spacing: 1px;
	font-size:1.25em;
}
.suggestions li {
    margin: .5em 0 .75em 0;
}