@charset "utf-8";
body {
	background-color:#000;
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.main #menu {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	position:fixed;
	color:#FFF;
	left:0px;
	top:0px;
	display:block;
	background-image:url(html/space.png);
	width:200px;
	min-height:100px;
	z-index:1000;
}
.main #menu ul {
	margin:0;
	padding:0;
	background-image:url(html/space2.png);
}
.main #menu ul li:hover {
	background-color: #666;
}
.main #menu ul li {
	cursor:pointer;
	line-height:1.6em;
	list-style:none;
	margin:0;
	padding:0;
	padding-left:1em;
	width:100%;
}
body div.main {
	width:1000px;
	margin:auto;
	margin-top:20px;
}
body div.page {
	width:40px;
}

div#nav {
	cursor:pointer;
	color:#FFF;
	width: 500px;
	height: 100px;
	background-image: url(html/space.png);
	background-position:center center;
	position:absolute;
	right:0;
	bottom:0;
}
div#nav:hover{
	background-image: url(html/space.png);
}

div#nav2{
	cursor:pointer;
	color:#FFF;
	width: 500px;
	height: 100px;
	background-image: url(html/space.png);
	background-position:center center;
	position:absolute;
	left:0;
	bottom:0;
}
div#nav2:hover{
	background-image: url(html/space.png);
}
#showAll #iframe {
	background-color: #000;
}

#allMenu{
	margin-bottom:30px;
}
#allMenuInner {
	margin:0;
	margin-left:50px;
	margin-bottom:30px;
}
#allMenuInner div {
	width: 17em;
    font-size: 13px;
	float:left;
	color:#FFFFFF;
	line-height:180%;
	border-radius:3px;
	border:#000000 solid 1px;
	margin:2px;
	font-weight:normal;
	font-family: MetaBlack,"Trebuchet MS",sans-serif;
}
#allMenuInner div:hover{
	background-color: #666;
	cursor:pointer;
}
